.container-header {
  margin: 0;
  box-sizing: border-box;
  padding: 20px;
  background-color: cadetblue;
  color: white;
}

.logo-title {
  margin-left: 20px;
  word-spacing: 5px;
  letter-spacing: 3px;
  font-weight: bold;
}
