<div class="container-header" style="display:flex; flex-direction: row;justify-content: flex-start; align-items: center">
  <app-logo
    id="aa"
    srcImage="https://image.flaticon.com/icons/svg/2599/2599141.svg"
    alt="description"
    disabled=false
    width="80"
    height="80"
  >
  </app-logo>

  <app-logo
    id="bb"
    srcImage="https://image.flaticon.com/icons/svg/2599/2599141.svg"
    alt="description"
    disabled=true
    width="80"
    height="80"
  >
  </app-logo>

  <h2 class="logo-title"> Logo Title Company</h2>
</div>
