/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



body {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  float: bottom;
  margin: 0;
  padding: 0;
  font-family: 'Roboto' ,'SansSerif';
  font-size: 22px;

}

